@media screen and (max-width: 900px) {
  html {
    font-size: 80%;
  }

  #about .container .kanan,
  #about .container .kiri,
  footer .footer .kanan {
    width: 100%;
  }

  nav .hamburger {
    display: flex;
    cursor: pointer;
    span {
      transition: 0.2s ease-in-out;
      background-color: light-dark(black, white);

      &:nth-child(1) {
        transform-origin: top left;
      }
      &:nth-child(3) {
        transform-origin: bottom left;
      }
    }
    .span-satu {
      transform: rotate(45deg);
    }
    .span-dua {
      transform: scale(0);
    }
    .span-tiga {
      transform: rotate(-45deg);
    }
  }
  nav {
    .items {
      display: none;
      position: absolute;
      top: 4.75rem;
      right: 0;
      padding: 1rem 0.5rem;
      flex-direction: column;
      border-radius: 7px;
      background-color: light-dark(white, #161c20);
      box-shadow: 0 1px 5px light-dark(#0000004d, #ffffff4d);
      cursor: pointer;
      transition: 0.2s;
    }
    ul li a:hover::after {
      transform-origin: 0;
      transform: scale(0.8);
    }
    .active-items {
      display: flex;
    }
  }
  footer .footer .kiri {
    padding-left: 2rem;
  }
}
