footer {
  background-color: var(--secondary);
  color: white;

  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      flex-direction: row;
      .title {
        width: 90%;
      }
    }
  }
  .logo {
    margin-left: -1.5rem;
    display: flex;
    align-items: center;
    img {
      width: 80px;
      margin-right: -2rem;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 800;
    }
  }
  .link {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;

    a {
      font-weight: 500;
      margin-bottom: 1rem;
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      svg {
        fill: white;
      }
    }
    .quote {
      margin-top: 1rem;
      em {
        b {
          font-weight: 700;
        }
      }
      .quoter {
        display: inline-block;
        text-decoration: overline;
        margin-top: 0.5rem;
        color: inherit;
      }

      margin-bottom: 5em;
    }
  }

  position: relative;

  .copy {
    position: absolute;
    bottom: 0;
    left: 2rem;
    right: 2rem;
    padding: 1rem;
    border-top: 2px solid whitesmoke;
    text-align: center;
    font-size: 0.75rem;
  }
}
