.gallery {
  background-color: #b8d7dd;
}
.gallery .section-title {
  margin-bottom: 1rem;
}

.card-container {
  margin-top: 3rem;
  padding-bottom: 3rem;
  column-width: 200px;
  column-gap: 2rem;

  @media (min-width: 496px) {
    column-height: 350px;
  }
  @media (min-width: 540px) {
    column-height: 400px;
  }
  @media (min-width: 620px) {
    column-height: 450px;
  }
  @media (min-width: 727px) {
    column-height: 360px;
  }
  @media (min-width: 820px) {
    column-height: 400px;
  }
  @media (min-width: 900px) {
    column-height: 425px;
  }
  @media (min-width: 963px) {
    column-height: 350px;
  }
  @media (min-width: 1000px) {
    column-height: 375px;
  }
}

.staff-card {
  margin-bottom: 3rem;
  display: inline-block;

  .staff-img {
    object-fit: cover;
    aspect-ratio: 1/1.15;
    object-fit: cover;
    box-shadow: 0px 3px 7px #00000050;
    border-radius: calc(5px * 1.618);
    border: 1px solid #ddd;
  }
  .staff-info {
    padding-inline: 0.25rem;

    .staff-name {
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 2;
    }
    p {
      color: rgb(31, 31, 31);
    }
  }
}
.staff-card.owner {
  padding: 7px;
  padding-top: 10px;
  border-radius: calc(5px * 1.618);
  border: 1px solid #ddd;
  box-shadow: 0px 3px 7px #00000050;
  box-shadow: 0px 3px 7px #ffffff25;
  background-color: #ffffff80;

  position: relative;

  .staff-img {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 7px #ffffff;
  }
  .staff-info {
    margin-bottom: 0.9rem;

    .staff-name {
      font-size: 1.3rem;
      line-height: 2;
      text-decoration: underline;
      text-underline-offset: 0.5em;
    }
    p {
      font-size: 1rem;
    }
  }

  &::before {
    content: "👑";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-100%);
    font-size: 2.5rem;
  }
}
