* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html.dark-mode {
  color-scheme: light dark;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  /* --clFontBlue: #00d7fa; */
  --clFontBlue: #00bad7;
  --clFontBlack: #555555;
  --clFontWhite: #ededed;
  --clFontPink: #ff34bd;
  --bgDark: #161c20;
}

section {
  display: flex;
  justify-content: center;
}

/* HOME Start */
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 1.5rem 2rem;
  padding: 3rem 0 1rem 0;
}
.pasif {
  display: none;
}
p {
  color: light-dark(var(--clFontBlack), #9da3ac);
  font-weight: 200;
}
